<%- include('partials/header') -%>
  <%#-- Main --%>
    <div class="card shadow-sm">
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label for="title">Título*</label>
            <input class="form-control" type="text" id="title" name="title" required autofocus />
          </div>

          <div class="mb-3">
            <label for="mealType">Tipo de refeição*</label><br />
            <select class="form-select" id="mealType" name="mealType" required>
              <option value="">Selecione uma opção</option>
              <option>café da manhã</option>
              <option>almoço</option>
              <option>lanche</option>
              <option>jantar</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="numberOfPeopleItServes">Quantidade de pessoas que o serve*</label><br />
            <input class="form-control" type="number" id="numberOfPeopleItServes" name="numberOfPeopleItServes" min="1" step="1" required />
          </div>

          <div class="mb-3">
            <label for="difficultyLevel">Nível de dificuldade*</label><br />
            <select class="form-select" id="difficultyLevel" name="difficultyLevel" required>
              <option value="">Selecione uma opção</option>
              <option>iniciante</option>
              <option>intermediário</option>
              <option>avançado</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="listOfIngredients">Lista de ingredientes*</label><br />
            <textarea class="form-control" id="listOfIngredients" name="listOfIngredients" required></textarea>
          </div>

          <div class="mb-3">
            <label for="preparationSteps">Passo a passo para prepará-lo*</label><br />
            <textarea class="form-control" id="preparationSteps" name="preparationSteps" required></textarea>
          </div>

          <div class="mb-3">
            <label for="photoUrl">URL de uma foto da receita pronta</label><br />
            <input class="form-control" type="url" id="photoUrl" name="photoUrl" />
          </div>

          <button class="btn btn-orange" type="submit">Submeter</button>
        </form>
      </div>
    </div>
  <%#/-- Main --%>
<%- include('partials/footer') -%>
